<%- include('partials/header') %>
<div class="container">
  <h2>Novo Usuário</h2>
  <form action="/usuarios" method="POST">
    <div class="mb-3">
      <label>Nome</label>
      <input type="text" name="nome" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Email</label>
      <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Data de Cadastro</label>
      <input type="date" name="cadastro" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Acesso</label>
      <input type="text" name="acesso" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>CPF</label>
      <input type="text" name="cpf" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Endereço</label>
      <input type="text" name="endereco" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="/usuarios" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
<%- include('partials/footer') %>
